$color-primary: #717171;
$color-additional: #1b1a86;
$color-background: #EDF2EC;
$color-link: #1f2c64;
$color-additional_2: #98b2b4;
$color-text: #636060;
$color-button: #4c924a;
$color-dark: #000000;


$content-width: 1222px;
$tablet-width: 768px;
$mobile-small-width: 380px;