@import '../variables.scss';

.wrapper {
    display: flex;
    background-color: $color-background;

}

.footer-wrapper {
    max-width: $content-width;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.footer-logo-pic {
    width: 100px;
    height: 40px;
}

.footer-logo {
    display: flex;
    color: $color-additional;
}

.nav {
    margin-right: 2px;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
}

.nav-link {
    font-size: 1.6rem;
    line-height: 50px;
    text-decoration: none;
    color: $color-link;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
    font-weight: 700;
    color: $color-additional_2;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(74, 71, 71);
    transition: all 0.8s ease-out;
}


.nav-item {
    margin-right: 47px;
    list-style-type: none;
}